<div class="list-notification">
  <div class="noti-item bt-flex">
    <div class="avatar">
      <img src="../../../assets/img/tiger.png" alt="avatar" class="w-full h-full">
    </div>
    <div class="main-content w-full">
      <div class="title bt-flex bt-align-items-center w-full">
        <span class="text bt-flex bt-align-items-center w-3/4">
          Hoàng Hải Đăng edited the members of this project
        </span>
        <span class="created-date w-1/4">30 days ago</span>
      </div>
      <div class="project-info">
        <div class="icon"></div>
        <div class="name">Project test (12334556)</div>
      </div>
    </div>
  </div>
  <div class="noti-item bt-flex">
    <div class="avatar">
      <img src="../../../assets/img/tiger.png" alt="avatar" class="w-full h-full">
    </div>
    <div class="main-content w-full">
      <div class="title bt-flex bt-align-items-center w-full">
        <span class="text bt-flex bt-align-items-center w-3/4">
          Hoàng Hải Đăng edited the members of this project
        </span>
        <span class="created-date w-1/4">30 days ago</span>
      </div>
      <div class="project-info">
        <div class="icon"></div>
        <div class="name">Project test (12334556)</div>
      </div>
    </div>
  </div>
  <div class="noti-item bt-flex">
    <div class="avatar">
      <img src="../../../assets/img/tiger.png" alt="avatar" class="w-full h-full">
    </div>
    <div class="main-content w-full">
      <div class="title bt-flex bt-align-items-center w-full">
        <span class="text bt-flex bt-align-items-center w-3/4">
          Hoàng Hải Đăng edited the members of this project
        </span>
        <span class="created-date w-1/4">30 days ago</span>
      </div>
      <div class="project-info">
        <div class="icon"></div>
        <div class="name">Project test (12334556)</div>
      </div>
    </div>
  </div>
</div>