<perfect-scrollbar [ngStyle]="{'height': height}" (psYReachEnd)="scollReachEnd()">
  <div class="list-notification">
    <div 
      *ngFor="let item of data;"
      class="noti-item bt-flex"
    >
      <div class="avatar">
        <img src="../../../assets/img/tiger.png" alt="avatar" class="w-full h-full">
      </div>
      <div class="main-content w-full">
        <div class="title bt-flex bt-align-items-center w-full">
          <span class="text bt-flex bt-align-items-center w-3/4">
            {{item.Content}}
          </span>
          <span class="created-date w-1/4">{{item.CreatedDate | date: 'dd/MM/yyyy'}}</span>
        </div>
        <!-- <div class="project-info">
          <div class="icon"></div>
          <div class="name">Project test (12334556)</div>
        </div> -->
      </div>
    </div>
  </div>
</perfect-scrollbar>