<div class="home-container bt-flex">
  <div class="project-notification w-3/5">
    <div class="title-group bt-flex bt-align-items-center">
      <div class="title-content">
        Project Home 
      </div>
      <span class="sub-title">
        : Recent Updates 
        <i class="fa-solid fa-wifi"></i>
      </span>
    </div>
    <div class="list-notification">
      <div class="noti-item bt-flex">
        <div class="avatar">
          <img src="../../../assets/img/tiger.png" alt="avatar" class="w-full h-full">
        </div>
        <div class="main-content w-full">
          <div class="title bt-flex bt-align-items-center w-full">
            <span class="text bt-flex bt-align-items-center w-3/4">
              Hoàng Hải Đăng edited the members of this project
            </span>
            <span class="created-date w-1/4">30 days ago</span>
          </div>
          <div class="project-info">
            <div class="icon"></div>
            <div class="name">Project test (12334556)</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-summary w-2/5">
    <div class="title">
      Status
    </div>
    <div class="status-container w-full">
      <div class="graphbar-number w-full bt-flex bt-align-items-center">
        <div class="line status-1" style="width: 20%;"></div>
        <div class="line status-2" style="width: 20%;"></div>
        <div class="line status-3" style="width: 20%;"></div>
        <div class="line status-4" style="width: 20%;"></div>
        <div class="line status-5" style="width: 20%;"></div>
      </div>
      <div class="graphbar-info bt-flex">
        <div class="wrapper">
          <div class="name">
            New
          </div>
          <div class="number status-1">
            0
          </div>
        </div>
        <div class="wrapper">
          <div class="name">
            Approved
          </div>
          <div class="number status-2">
            0
          </div>
        </div>
        <div class="wrapper">
          <div class="name">
            Commited
          </div>
          <div class="number status-3">
            0
          </div>
        </div>
        <div class="wrapper">
          <div class="name">
            Done
          </div>
          <div class="number status-4">
            0
          </div>
        </div>
        <div class="wrapper">
          <div class="name">
            Removed
          </div>
          <div class="number status-5">
            0
          </div>
        </div>
      </div>
    </div>
  </div>
</div>