<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="typeControl.Textbox">
    <div class="textbox-container bt-flex bt-flex-row bt-align-items-center">
      <div class="title">{{text}}</div>
      <input 
      type="text" class="textbox text w-full" placeholder="{{placeholder}}"
      >
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="typeControl.Search">
    <div class="searchbox-container bt-flex bt-flex-row bt-align-items-center">
      <div class="icon ic-search-16"></div>
      <input 
        type="text" class="textbox search w-full" placeholder="{{placeholder}}"
      >
    </div>
  </ng-container>
</ng-container>
