<div class="back-ground">
  <div class="header bt-flex bt-align-items-center">
    <div class="title w-1/2">
      Project Issues
    </div>
    <div class="bt-flex bt-justify-content-end w-1/2">
      <base-button
        typeButton="primary"
        text="Add issue"
        (btnClick)="addIssue($event)"
        iconCSS="fa-solid fa-plus"
        [height]="36"
      >
      </base-button>
    </div>
  </div>
  <div class="issues-container bt-flex bt-flex-column">
    <div class="toolbar bt-flex">
      <div class="left w-1/2 bt-flex bt-align-item-center">
        <base-textbox
          [placeholder]="'Search issue'"
          [type]="typeControl.Search"
        >
        </base-textbox>
      </div>
      <div class="right w-1/2 bt-flex bt-align-items-center bt-justify-content-end">
        <div class="right-item">
          <div class="switch-view bt-flex bt-align-items-center bt-justify-content-center">
            <button 
              class="btn" 
              [ngClass]="{'actived': currentView == issueView.List}"
              (click)="switchView(issueView.List)"
            >
              <i class="fa-solid fa-list"></i> 
            </button>
            <button 
              class="btn" 
              [ngClass]="{'actived': currentView == issueView.Calendar}" 
              (click)="switchView(issueView.Calendar)"
            >
              <i class="fa-solid fa-calendar"></i>
            </button>
          </div>
        </div>
        <div class="right-item bt-flex bt-align-items-center">
          <base-button
            [iconCSS]="'fa-solid fa-rotate-right'"
            [typeButton]="'secondary'"
            [width]="40"
            [height]="40"
            (btnClick)="getDataPaging()"
          >
          </base-button>
        </div>
      </div>
    </div>
    <div class="content">
      <table class="table-fixed-header">
        <thead>
          <tr>
            <th>Type</th>
            <th>Subject</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Assigned to</th>
            <th>Found in build</th>
            <th>Intergrated build</th>
            <!-- <th>Action</th> -->
          </tr>
        </thead>
        <tbody class="issues">
          <tr *ngFor="let item of issues; let index = index" (click)="editIssue(item)">
            <td>
              <span>{{
                item.TypeIDText
              }}</span>
            </td>
            <td>
              <span>{{ item.Subject }}</span>
            </td>
            <td>
              <span>{{
                item.PriorityIDText
              }}</span>
            </td>
            <td>
              <span>{{
                item.StatusIDText
              }}</span>
            </td>
            <td>
              <span >{{
                item.AssignedUserIDText
              }}</span>
            </td>
            <td>
              <span>{{
                item.FoundInBuild
              }}</span>
            </td>
            <td>
              <span>{{
                item.IntergratedBuild
              }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pagination bt-flex">
    <div class="total-record bt-flex bt-align-items-center w-1/2">
      Total Record: <span class="number"> {{totalRecord}} </span>
    </div>
    <div class="pager bt-flex bt-align-items-center bt-justify-content-end w-1/2">
      <div class="page-size">
        <base-combobox
          [datas]="pageSizeCbx"
          [value]="configPaging.PageSize"
          (valueChange)="valueChangeCombo($event)"
          [isShowLabel]="false"
          [width]="'150px'"
          [fieldName]="'PageSize'"
        >
        </base-combobox>
      </div>
      <div class="prev-to-first" [ngClass]="{'disable': currentPage == 1}">
        <i class="fa-solid fa-angles-left"></i>
      </div>
      <div class="prev-one" [ngClass]="{'disable': currentPage == 1}">
        <i class="fa-solid fa-angle-left"></i>
      </div>
      <div class="page-info bt-flex bt-justify-content-center">
        <div class="from">
          {{ fromRecord }}
        </div>
        <div class="text">
          to
        </div>
        <div class="to">
          {{ toRecord }}
        </div>
      </div>
      <div class="next-one" [ngClass]="{'disable': (configPaging.PageIndex + 1) * configPaging.PageSize > totalRecord}">
        <i class="fa-solid fa-angle-right"></i>
      </div>
      <div class="next-to-last" [ngClass]="{'disable': (configPaging.PageIndex + 1) * configPaging.PageSize > totalRecord}">
        <i class="fa-solid fa-angles-right"></i>
      </div>
    </div>
  </div>
</div>
