<div class="add-issue-container">
  <div class="header bt-flex">
    <div class="title">
      {{title}}
    </div>
    <div class="close bt-flex bt-justify-self-end">
      <i class="fa-solid fa-x" (click)="close()"></i>
    </div>
  </div>
  <div class="content-container">
    <div class="groupbox-item">
      <div class="groupbox-title">
        Details
      </div>
      <div class="field w-full bt-flex bt-flex-row">
        <div class="field-left w-full" style="margin: 0;">
          <base-textbox
            text="Subject"
            [titleWidth]="120"
            [type]="typeControl.Textbox"
            [required]="true"
            placeholder=""
            [(value)]="dataSave.Subject"
          >
          </base-textbox>
          
        </div>
      </div>
      <div class="field w-full bt-flex bt-flex-row">
        <div class="field-left w-1/2">
          <base-combobox
            [datas]="issueType"
            [value]="dataSave.TypeID"
            [isShowLabel]="true"
            labelText="Type"
            (valueChange)="valueChangeCombo($event)"
            fieldName="TypeID"
          ></base-combobox>
         
        </div>
        <div class="field-right w-1/2">
          <base-combobox
            [datas]="issuePriority"
            [value]="dataSave.PriorityID"
            [isShowLabel]="true"
            labelText="Priority"
            (valueChange)="valueChangeCombo($event)"
            fieldName="PriorityID"
          ></base-combobox>
        </div>
      </div>
      <div class="field w-full bt-flex bt-flex-column">
        <div class="title">
          Description
        </div>
        <textarea name="name" id="textarea" class="w-full" cols="30" rows="10"></textarea>
      </div>
    </div>
    <div class="groupbox-item">
      <div class="groupbox-title">
        Status
      </div>
      <div class="field w-full bt-flex bt-flex-row">
        <div class="field-left w-1/2">
          <!-- <base-textbox
            text="Status"
            [titleWidth]="120"
            [type]="typeControl.Textbox"
            placeholder=""
          >
          </base-textbox> -->
          <base-combobox
            [datas]="issueState"
            [value]="dataSave.StatusID"
            [isShowLabel]="true"
            labelText="Status"
            (valueChange)="valueChangeCombo($event)"
            fieldName="StatusID"
          ></base-combobox>
        </div>
        <div class="field-right w-1/2">
          <!-- <base-textbox
            text="Assigned to"
            [titleWidth]="120"
            [type]="typeControl.Textbox"
            placeholder=""
          >
          </base-textbox> -->
          <base-combobox
            [datas]="employees"
            [value]="dataSave.AssignedUserID"
            [isShowLabel]="true"
            labelText="Assigned to"
            (valueChange)="valueChangeCombo($event)"
            fieldName="AssignedUserID"
          ></base-combobox>
        </div>
      </div>
      <!-- <div class="field w-full bt-flex bt-flex-row">
        <div class="field-left w-1/2">
          <base-textbox
            text="Solution Approved"
            [titleWidth]="120"
            [type]="typeControl.Textbox"
            placeholder=""
          >
          </base-textbox>
        </div>
        <div class="field-right w-1/2">
        </div>
      </div> -->
    </div>
    <div class="groupbox-item">
      <div class="groupbox-title">
        Deadline
      </div>
      <div class="field w-full bt-flex bt-flex-row">
        <div class="field-left w-1/2">
          <base-datetimepicker
            [isShowLabel]="true"
            [label]="'Due Date'"
            [labelWidth]="120"
            [value]="dataSave.DueDate"
            [label]="'DueDate'"
            (valueChange)="valueChangeCombo($event)"
          >
          </base-datetimepicker>
        </div>
        <div class="field-right w-1/2">
          <!-- <base-textbox
            text="Intergrated in build"
            [titleWidth]="120"
            [type]="typeControl.Textbox"
            placeholder=""
          >
          </base-textbox> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="feature bt-flex bt-flex-row w-full bt-justify-content-end">
  <div class="button-first">
    <base-button
      typeButton="secondary"
      text="Save and Add"
      [width]="120"
      (btnClick)="saveAndAddData()"
    >
    </base-button>
  </div>
  <div class="button-seconds">
    <base-button
      typeButton="primary"
      text="Save"
      (btnClick)="saveData()"
    >
    </base-button>
  </div>
</div>