/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/scss/font-awesome.scss';
@import '/src/color';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $bg-page;
}

.bt-dialog {
  .mat-dialog-container {
    background-color: $color-white;
    color: $color-black;
    padding: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #888;
  width: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bt-flex {
  display: flex !important;
}

.bt-flex-row {
  flex-direction: row;
}

.bt-flex-column {
  flex-direction: column;
}

.bt-justify-content-start {
  justify-content: flex-start !important;
}

.bt-justify-content-center {
  justify-content: center !important;
}

.bt-justify-content-between {
  justify-content: space-between !important;
}

.bt-justify-content-end {
  justify-content: flex-end !important;
}

.bt-align-items-start {
  align-items: flex-start !important;
}

.bt-align-items-center {
  align-items: center !important;
}

.bt-align-items-end {
  align-items: flex-end !important;
}

.bt-align-self-center {
  align-self: center;
}

.w-full {
  width: 100%;
}

.w-1\/2 {
  width: 50%;
}

.w-3\/4 {
  width: 75%;
}

.w-1\/4 {
  width: 25%;
}

.w-4\/5 {
  width: 80%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
