<div class="page-header bt-flex bt-justify-content-between">
  <div class="bt-flex bt-align-items-center">
    <div class="nav-link bt-flex bt-align-items-center">
      <div class="text">DashBoard</div>
    </div>
    <div class="nav-link bt-flex bt-align-items-center">
      <div class="text">Project</div>
    </div>
    <div class="nav-link bt-flex bt-align-items-center">
      <div class="text">Recently Viewed</div>
    </div>
  </div>
  <div class="bt-flex bt-align-items-center">
    <base-textbox></base-textbox>  
  </div>
  <div class="bt-flex bt-align-items-center">
    <div>Info</div>
    <div>notify</div>
  </div>
</div>