<div class="bt-combobox bt-flex bt-align-items-center"  [ngStyle]="{'width': width}">
  <div class="label-combobox" *ngIf="isShowLabel" [ngStyle]="{'max-width.px': labelWidth, 'min-width.px': labelWidth}">
    {{labelText}}
  </div>
  
  <mat-form-field appearance="fill">
    <mat-select [(value)]="value" (valueChange)="onChange()">
      <mat-option
        *ngFor="let item of datas" [value]="item.Value"
      >
        {{item.Text}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>