@import "../../../styles.scss";
@import "../../../font.scss";
@import "../../../color.scss";

:host {
  ::ng-deep {
    .table-fixed-header {
      .tasks {
        .action {
          base-button {
            margin-left: 8px;
          }
        }
      }
    }
    .tasks-container {
      .toolbar {
        .left {
          .left-item {
            margin-right: 12px;
          }
        }
        .right {
          .fa-rotate-right {
            font-size: $font-subtitle;
          }
        }
      }
    }
  }
  .back-ground {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: $color-white;
  }
  .tasks-container {
    padding: 16px 16px 0 16px;
    .toolbar {
      height: 44px;
      margin-bottom: 12px;
      .right {
        .right-item {
          padding-left: 16px;
          .switch-view {
            background-color: $color-grey-05;
            padding: 0 8px;
            height: 40px;
            border-radius: 8px;
            .btn:nth-child(1) {
              margin-right: 6px;
            }
            .btn {
              border-radius: 4px;
              background: none;
              padding: 6px;
              width: 30px;
              i {
                color: $color-grey-35;
                font-size: $font-medium;
              }
              &.actived {
                background-color: $color-white;
                i {
                  color:  $default-color-green;
                }
              }
            }
          }
          .switch-type {
            background-color: $color-grey-05;
            padding: 0 8px;
            height: 40px;
            border-radius: 8px;
            .btn:nth-child(1) {
              margin-right: 6px;
            }
            .btn {
              border-radius: 4px;
              background: none;
              padding: 6px;
              color: $color-grey-35;
              font-size: $font-size-base;
              font-weight: $font-weight-bold;
              &.actived {
                background-color: $color-white;
                color:  $default-color-green;
              }
            }
          }
        }
      }
    }
    .content {
      width: 100%;
      height: calc(100vh - 288px);
      overflow: auto;
    }
  }
  .table-fixed-header {
    overflow: auto;
    border-collapse: collapse;
    width: 100%;
    th,
    td {
      text-align: center;
      border-bottom: 1px solid $fds-gray-30;
      padding: 4px 12px;
      min-height: 50px;
      height: 32px;
      min-width: 200px;
      max-width: 200px;
    }
    tbody {
      transition: 0.22s;
      tr {
        &:hover {
          background-color: $dataviz-primary-2;
        }
      }
    }
    td {
      cursor: pointer;
    }
    tr:nth-child(even) {
      background-color: $fds-gray-05;
    }
  }
  .header {
    padding: 20px 16px 0 20px;
    .title {
      font-size: $font-subtitle;
      font-weight: $font-weight-medium;
    }
  }
  .pagination {
    height: 60px;
    padding: 0 16px;
    .total-record {
      font-size: $font-body;
      padding-left: 12px;
      .number {
        padding-left: 6px;
        font-weight: $font-weight-medium;
      }
    }
    .pager {
      padding-right: 16px;
      .page-size {
        padding-right: 16px;
      }
      .prev-to-first, .prev-one, .next-to-last, .next-one {
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        transition: 0.22s;
        &:hover {
          background-color: $color-grey-hover;
        }
        &.disable {
          opacity: 0.3;
          &:hover {
            background: none;
          }
        }
      }
      .page-info {
        padding: 0 4px;
        .text {
          padding: 0 6px;
        }
      }
    }
  }
}
