<div class="dashboard-container">
  <div class="header bt-flex bt-justify-content-center">
    <div class="icon"></div>
    <div class="title">Task Management</div>
  </div>
  <div class="main-content bt-flex">
    <div class="project-container w-1/2">
      <div class="project-header bt-flex">
        <div class="title w-2/5">
          Projects
        </div>
        <div class="action w-3/5 bt-flex bt-justify-content-end bt-align-items-center">
          <div class="search">
            <base-textbox
              [placeholder]="'Search projects'"
              [type]="typeControl.Search"
              (searchEvent)="searchProject($event)"
            >
            </base-textbox>
          </div>
          <div 
            class="add-project bt-flex bt-align-items-center bt-justify-content-center"
            matTooltip="Add Project"
            [matTooltipPosition]="'above'"
            [matTooltipClass]="'mg-bottom'"
            (click)="addProject()"
          >
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
      <base-project
        #projectComponent
      >
      </base-project>
      <!-- <div class="project-list">
        <div 
          class="project-item bt-flex bt-align-items-center"
          *ngFor="let item of projects"
        >
          <div class="avatar bt-flex bt-align-items-center bt-justify-content-center" (click)="openProject(item)">
            <i class="fa-solid fa-city"></i>
          </div>
          <div class="info" (click)="openProject(item)">
            <div class="name">
              {{ item.ProjectName }}
            </div>
            <div class="key">
              {{ item.ProjectCode }}
            </div>
          </div>
          <div class="project-settings" 
            [matTooltip]="'Project settings'"
            [matTooltipPosition]="'above'"
            [matTooltipClass]="'mg-top'"
            [matTooltipClass]="'mg-bottom'"
            [matMenuTriggerFor]="menuOptions"
            [matMenuTriggerData]="{project: item}"
          >
            <i class="fa-solid fa-gear"></i>
          </div>
        </div>
      </div> -->
    </div>
    <div class="notification-container w-1/2">
      <div class="notification-header">
        <div class="title">
          Recent Updates
        </div>
      </div>
      <base-notification
        [height]="'calc(100vh - 202px)'"
      >
      </base-notification>
    </div>
  </div>
</div>

<!-- <mat-menu #menuOptions="matMenu">
  <ng-template matMenuContent let-project="project">
    <button mat-menu-item class="btn-secondary bt-flex bt-align-items-center" (click)="openProjectSettings(project)">
      <div class="icon">
        <i class="fa-solid fa-gear"></i>
      </div>
      <div class="text">
        General Settings
      </div>
    </button>
    <button mat-menu-item class="btn-delete bt-flex bt-align-items-center" (click)="deleteProject(project)">
      <div class="icon">
        <i class="fa-solid fa-xmark"></i>
      </div>
      <div class="text">
        Delete
      </div>
    </button>
  </ng-template>
</mat-menu> -->